body {
	margin: 0;
	padding: 0;
}
#cat {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 30%;
	height: 100vh;
	overflow-y: scroll;
}
#cat ul {
	list-style: none;
}
#cat li {
	cursor: pointer;
	margin: 1rem 0;
}
#cat li:hover {
	color: grey;
}
#cat-loader {
	position: absolute;
	background-color: white;
	right: 0;
	top: 0;
	bottom: 0;
	width: 70%;
	height: 100vh;
	display: flex;
	z-index: 99;
}
#percent {
	margin: auto;
}
#map {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 70%;
	height: 100vh;
}
